footer {
    margin-top: 30px;
    padding: 10px 0 55px;
    background-color: $darkGrey;
    color: $greyText;

    a {
        color: inherit;
        text-decoration: none;
    }

    hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #4c4c4c;
        margin: 15px 0 10px;

        @include respond-to(tablet) {
            display: none;
        }
    }

}

.footer-nav {
    justify-content: space-between;

    .footer-menu {
        margin-top: 10px;

        a {

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .social-icons {

        a {

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.order-first {

    @include respond-to(tablet) {
        order: -1;
    }
}

.col-8.sm-grid {

    @include respond-to(tablet) {
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: center;
    }
}

.col-6.sm-grid {

    @include respond-to(tablet) {
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: center;
    }
}

.col-4.sm-grid {

    @include respond-to(tablet) {
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: center;
    }
}

.sm-center {

    @include respond-to(tablet) {
        text-align: center;
        justify-content: center;
        padding: 20px;
    }
}


.xs-center {

    @include respond-to(mobile) {
        text-align: center;
        justify-content: center;
    }

    nav {

        @include respond-to(mobile) {
            padding-bottom: 20px;
        }
    }
}
