html, body {
    background-color: $black;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    position: relative;
    max-height: 155px;
    line-height: 50px;

    @include respond-to(mobile) {
        font-size: 35px;
    }

    small {
        font-size: 30px;
        vertical-align: top;
    }
}

h2 {
    font-size: 40px;
    line-height: 32px;
}

h3 {
    font-size: 25px;
    text-transform: none;
}

h4 {
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
}


p {
    padding: 25px 0;
    text-transform: none;
    font-size: 16px;
    max-width: 320px;
}

ul {
    text-transform: none;
    font-size: 16px;
    list-style-image: url("../img/list_22.png");
    list-style-position: inside;

    li {
        line-height: 25px;
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 900;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-12 {
    font-size: 12px;
}

.extra-small {
    font-size: 11px;
}

.counter {
    font-size: 18px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.txt-green {
    color: $green;
}

.txt-purple {
    color: $purple;
}

.txt-pink {
    color: $pink;
    position: absolute;
    bottom: 0;
}

.txt-grey {
    color: $greyText;
}

.txt-greyLighter {
    color: #828282;
}

.txt-lightGrey {
    color: $lightGreyText;
}

.txt-blue {
    color: $blue;
}

.txt-normal {
    text-transform: none;
}

.bg-purple {
    background-color: $purple;
}

.bg-white {
    background-color: $white;
}

.bg-green {
    background-color: $green;
}

.bg-grey {
    background-color: $grey;
}

.bg-darkGrey {
    background-color: $darkGrey;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-25 {
    padding-right: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-10 {
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 26px;
    height: 46px;
    cursor: pointer;

    &.arrow-left {
        left: 30px;
        background-image: url("../img/left_06.png");
    }

    &.arrow-right {
        right: 30px;
        background-image: url("../img/right_09.png");
    }
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    color: $white;

    &.btn-purple {
        background-color: $darkPurple;
        transition: background-color 500ms linear;
        border: 2px solid #b3a8c8;
        padding: 6px;
        width: 455px;
        font-size: 20px;

        @include respond-to(mobile) {
            width: 285px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            transition: background-color 500ms linear;
        }
    }

    &.btn-transparent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 6px;
        width: 175px;
        font-size: 20px;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 500ms linear;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            transition: background-color 500ms linear;
        }
    }
}

.no-padding {
    padding: 0;
}
