.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-12 {
    flex: 1 1 100%;
    max-width: 100%;
}

.col-8 {
    flex: 1 1 66.666667%;
    max-width: 66.666667%;

    &:not(.sm-grid) {

        @include respond-to(laptop) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

.col-6 {
    flex: 1 1 50%;
    max-width: 50%;

    &:not(.sm-grid) {

        @include respond-to(laptop) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

.col-4 {
    flex: 1 1 33.333333%;
    max-width: 33.333333%;

    &:not(.sm-grid) {

        @include respond-to(laptop) {
            flex: 1 1 50%;
            max-width: 50%;
        }
    }

    &:not(.sm-grid) {

        @include respond-to(mobile) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

.col-3 {
    flex: 1 1 25%;
    max-width: 25%;

    @include respond-to(tablet) {
        flex: 1 1 50%;
        max-width: 50%;
    }

    @include respond-to(mobile) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
