header {
    background-color: $darkGrey;

    hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #e1e1e1;
        margin: 10px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menu-container {
    background-color: $lightGrey;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .menu {
        position: relative;
        width: 15px;
        height: 10px;
        cursor: pointer;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $white;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }
    }

    .menu-dropdown {
        display: none;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        left: 0;
        z-index: 10;
        width: 240px;
        color: $superLightText;

        section {
            padding: 25px 30px;

            .menu-item {
                display: block;
                text-transform: none;
                text-decoration: none;
                color: inherit;
                padding: 5px 0;
                border-top: 1px solid #272727;

                &:last-child {
                    border-bottom: 1px solid #272727;
                }

                img {
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            .menu-promo-text {
                width: 122px;
                padding-left: 8px;

                img {
                    vertical-align: middle;
                    margin: 0 5px;
                }
            }
        }
    }
}

.header-area {
    justify-content: end;
    color: $greyText;
    padding: 20px 0;

    @include respond-to(mobile) {
        justify-content: space-around;
    }

    .contact {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 15px;
            background: $greyBorder;
        }
    }

    .search {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 15px;
            background: $greyBorder;
        }
    }

    img {
        vertical-align: middle;
        background: $black;
        margin-right: 10px;
    }
}
