@mixin respond-to($breakpoint) {
    @if $breakpoint == "laptop" {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint == "tablet" {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint == "mobile" {
        @media (max-width: 425px) {
            @content;
        }
    }
}

@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
