main {

    section {
        overflow: hidden;

        & > div:not(.tv-online) {
            padding: 30px;
        }
    }
}

.gain-more {
    background-image: url("../img/bg_13.jpg");
    min-height: calc(485px - 60px);
    position: relative;
    @include background-image;

    .gain-more-title {
        position: absolute;
        bottom: 20px;
        left: 30px;
    }

    .txt-large {
        font-size: 100px;
    }

    img {
        margin-bottom: 5px;
    }

    .dots-container {
        position: absolute;
        bottom: 30px;
        right: 30px;

        img {
            margin: 0 0 0 2px;
        }
    }
}

.vod {
    background-image: url("../img/bg_14.jpg");
    min-height: calc(485px - 60px);
    height: calc(100% - 60px);
    @include background-image;
    position: relative;

    .vod-slider {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        .vod-slider-title {
            padding: 30px;
            position: relative;

            h3 {
                margin-bottom: 5px;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 80px;
                background: #4d5151;
            }
        }

        .vod-slider-counter {
            padding: 30px;
            width: calc(105px - 60px);
        }
    }

    &:hover {

        .btn-transparent {
            visibility: visible;
            opacity: 1;
            transition: all 500ms linear;
        }
    }
}

.your-package {
    min-height: calc(420px - 60px);

    .your-package-icons {
        justify-content: space-between;
        padding: 35px 0 25px;
        margin: 0 -30px;

        & > div {
            position: relative;
            min-height: 175px;

            &:not(:last-child) {

                &:after {
                    content: "";
                    position: absolute;
                    top: calc((139px / 2) - 10px);
                    right: 0;
                    transform: translateX(50%);
                    background-image: url(../img/plus_15.png);
                    width: 20px;
                    height: 20px;

                    @include respond-to(tablet) {
                        display: none;
                    }
                }
            }
        }

        .your-package-text {
            max-width: 100px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .choose-package {
        padding-top: 5px;
        text-transform: none;
        font-size: 20px;
    }
}

.tv-online {
    min-height: calc(420px - 60px);

    .tv-online-header {
        display: flex;
        align-items: center;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 25%);
            background-image: url(../img/vod_11.png);
            width: 28px;
            height: 28px;
            z-index: 10;
        }

        .tv-online-header-title {
            padding: 30px 18px 31px 30px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 80px;
                background: #b5d47f;
            }
        }

        .tv-online-header-counter {
            padding: 21px 30px 20px;
            width: calc(105px - 60px);
        }
    }

    .slider {
        position: relative;
        min-height: 295px;
        line-height: 0;

        .movie-img {
            object-fit: cover;
            width: 100%;
        }

        .player {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(1) translate(-50%, -70%);
            cursor: pointer;
            transition: transform 200ms linear;

            &:hover {
                transform: scale(0.98) translate(-50%, -70%);
            }
        }

        .tv-online-slider-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: normal;
            padding: 30px;
            text-align: center;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $green;
        }
    }

}

.slider__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.slider__item--active {
    display: block;
}

.package-promo {

    p {
        padding: 15px 0;
    }

    .package-promo-price {
        margin-top: 19px;

        & > div {
            display: inline-block;
        }

        .txt-green {
            font-size: 18px;
        }

        .txt-purple {
            font-size: 55px;
            line-height: 0;

            small {
                font-size: 25px;
            }
        }
    }
}

.support {
    background-image: url("../img/bg_03.jpg");
    min-height: calc(340px - 60px);
    @include background-image;

    p {
        font-size: 14px;
        padding: 0;
    }

    .support-expert {
        padding: 15px 0;
        justify-content: space-between;

        .support-link {
            width: 190px;

            & > div.d-flex {
                padding: 10px 0;
                justify-content: space-between;
                align-items: center;
            }

            .border-bottom {
                border-bottom: 1px solid #394a4c;
            }
        }
    }
}

.app {
    min-height: calc(340px - 60px);
    height: calc(100% - 60px);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;

    &:not(.app-overlay) {
        background-image: url("../img/bg_26.jpg");
    }

    .app-icons {
        position: absolute;
        left: 30px;
        bottom: 30px;

        a:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.overlay-parent {
    position: relative;

    .app-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 500s, opacity 500ms linear
    }

    &:hover {

        .app-overlay {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 500ms linear
        }
    }
}

.md-hidden {

    @include respond-to(laptop) {
        display: none;
    }
}

.order-1 {

    @include respond-to(laptop) {
        order: 1;
    }
}


.order-2 {

    @include respond-to(laptop) {
        order: 2;
    }
}
