$green: #84b82a;
$darkPurple: #4d3c6c;
$purple: #675190;
$pink: #aa2755;
$blue: #2c8fbd;
$darkGrey: #1a1a1a;
$grey: #262626;
$lightGrey: #3c3c3c;
$superLightText: #bababa;
$lightGreyText: #a2a2a2;
$greyText: #5a5a5a;
$greyBorder: #313131;
$white: #ffffff;
$black: #000000;
